<!DOCTYPE html>
<html>
<head>
	<style>
img {
	max-width:100%;
}
</style>
	<title>{{ movie_pg.title }}</title>
	<body>
		<img src="{{movie_pg.bigposter}}" width = 300/>
    <h2>{{ movie_pg.title }}</h2>
    <h3>Year: </h3>
    <p>{{movie_pg.release_date}}</p>
	<h3>Plot: </h3>    
	<p>{{movie_pg.summary}}</p> 
	<h3>Genres: </h3>
	<p>{{movie_pg.genre}}</p>
	<h3>Director: </h3>
	<p>{{movie_pg.director}}</p>
	<h3>Cast: </h3>
	<p>{{movie_pg.cast}}</p>
	<h3>Current Rating: </h3>
	{% if average.rating__avg == 'None' %}
	<p>No average ratings yet</p>
	{% else %}
	<p>{{average.rating__avg}}/10.0</p>
	{% endif %}
	{% if theUser.is_authenticated %}
		<p>Write a review, {{theUser.username}}.</p>
	<form name="some" method = "GET" action="/movie/{{movie_pg.movie_id}}">
		<input class="form-control" type="text" name="review" value="Type review here">
		<input class="form-control" type="text" name="number" value="number between 0-10">
		<input type="submit" value="submit" class="btn btn-default" name = "moovify">
	</form>
	{% endif %}
	<h3>Reviews: </h3>
	{% if getReviews == 'No reviews yet' %}
	<p>No reviews yet</p>
	{% else %}
	{% for m in getReviews %}
	<p>{{m.user}}: {{m.comment}}</p>
	{% endfor %}
	{% endif %}
	</body>
</head>
</html>

