<!DOCTYPE html>
<html>
	<head>
		<title>Search for a Movie</title>
		<style>
			img {
				max-width:100%;
			}
		</style>
		</head>
		<body>
			<p><a href="/">Home</a></p>
			<form name="some" method = "GET" action="/search">
			<div class="form-group">
				<p>Enter movie to search below:</p>
				<input class="form-control" type="text" name="q" value="{{ request.GET.q }}">
				<input type="submit" value="Search" class="btn btn-default" name = "r">
			</div>
			<p>Custom search options: </p> 		
			<input type="submit" value="Alphabetical" name="p">
			<input type="submit" value="Release Date (Newest to Oldest)" name="n">
			<p>Want to search a movie by genre? Type in one given genre below and click away! (Worth the wait!) </p>
			<input type="submit" value="Filter" name="g">
			<input class="form-control" type="text" name="l" value="{{ request.GET.l }}">
			<p>**Genres limited to: 
				<p>Action, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, History, Horror, Music, Musical, Mystery, Romance, Sci-Fi, Sport, Thriller, War, and Western.</p>
			</form>
			{% if search == True %}
			{% if moviesData == "errorOne" %}
			<h3>No movies to display</h3>
			{% elif moviesData == "errorTwo" %}
			<h3>Uh oh. There is an error. Check your connectivity to Internet. Otherwise, the IMDb server is down.</h3>
			{% elif moviesData == "Genre does not match with title" %}
			<h3>Genre does not match with the movie.</h3>
			{% else %}
			{% for m in moviesData %}
			<img src="{{m.bigposter}}" width=100>
			<h3><a href="/movie/{{m.movie_id}}" name = "clicked">{{m.title}}</a></h3> 
			<p>{{m.release_date}}</p>
			<p>{{m.genre}}</p>
			{% endfor %}
			{% endif %}
			{% endif %}
		</body>
</html>